{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}

{% block title %}密码找回-QA问答社区{% endblock %}

{% block content %}
{% bootstrap_messages %}
<div class="form-wrapper">
	<form method="post" action=".">
		{% if form.errors %}
			{% include "users/partials/errors.html" %}
		{% endif %}
		{% csrf_token %}
		<!--{% for field in form %}
			{% include "users/partials/field.html" %}
		{% endfor %}-->
		{% bootstrap_form form %}
		{% buttons %}
            <button type="submit" class="btn btn-primary">{% bootstrap_icon "star" %}确认</button>
        {% endbuttons %}
	</form>
</div>
</div>
</div>
{% endblock %}
